
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=1200,user-scalable=yes">
    <title>免费洗车</title>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/jquery-1.8.3.min.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/js_z.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/banner.js"></script>
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/reset.css" rel="stylesheet" />
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/thems.css" rel="stylesheet" />
</head>
<script src="~/News2/绿色家居装修公司HTML网站模板/js/jquery-1.8.3.min.js"></script>
<script src="~/News2/绿色家居装修公司HTML网站模板/js/banner.js"></script>
<script src="~/News2/绿色家居装修公司HTML网站模板/js/js_z.js"></script>
<body>
    <!--头部-->
    <div class="head clearfix">
        <div class="logo">
            <a href="Newtalents.html">


            </a>
        </div>
        <div class="phone clearfix">
            <p>联系电话：<span>6666-66666666</span></p>
        </div>
        <ul class="nav clearfix">
            <li>
                <a href="NewShow">
                    <em>公司首页</em> HOME
                </a>
            </li>
            <li>
                <a href="Newpartner">
                    <em>合作案例</em> CASE
                </a>
            </li>
            <li>
                <a href="Newconsult">
                    <em>咨询车库</em> CONSULT
                </a>
            </li>
            <li>
                <a href="WachCar">
                    <em>免费洗车</em> FREE
                </a>
            </li>
            <li class="now">
                <a href="about">
                    <em>关于我们</em> ABOUT US
                </a>
            </li>
        </ul>
    </div>
    <!--头部-->
    <!--幻灯片-->
    <div id="banner" class="banner">
        <div id="owl-demo" class="owl-carousel" style="width:1850px; height:700px;">
            <a class="item" target="_blank" style="background-image:url('/News2/Img/1560043741184 - 副本.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/ascll码表.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/timg1.jpg');width:100%; height:700px;">
            </a>


        </div>
    </div>
    <!--幻灯片-->
    <div class="bg_b">
        <div class="pst">
            您当前的位置：
            <a href="NewShow">首页</a> >
            <a href="about">关于我们</a>
            <a href="Contact">联系我们</a>
        </div>
    </div>
    <div class="scd clearfix">
        <div class="scd_l">
            <div class="l_name">
                <img src="images/name_2.png" />
                <i>&nbsp;</i>
            </div>
            <ul class="s_nav">
                <li>
                    <a href="about">企业介绍</a>
                </li>
                <li class="on">
                    <a href="Contact">联系我们</a>
                </li>
                <li>
                    <a href="NewMap">在线地图</a>
                </li>
            </ul>
        </div>
        <div class="scd_r">
            <div class="r_top"><span>联系我们</span></div>
            <div class="scd_m">
                <dl class="contact clearfix">
                    <dt>
                        <img src="~/News2/Img/timgSV3QN4LB.jpg" />
                    </dt>
                    <dd>
                        <h1>上海佰锐清洗机械有限公司</h1>
                        <p><span>地址：</span>上海八维宏烨校区</p>
                        <p><span>移动电话：</span>17600232820</p>
                        <p><span>固定电话：</span>6666-66666666</p>
                        <p><span>联系邮箱：</span>15116056112@qq.com</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="f_bg">
        <div class="line">&nbsp;</div>
        <div class="foot clearfix">
            <div class="f_r">
                版权所有©一组&emsp;一组1234号
            </div>
        </div>
    </div>
</body>

</html>