@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=1200,user-scalable=yes">
    <title>咨询车库</title>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/jquery-1.8.3.min.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/js_z.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/banner.js"></script>
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/reset.css" rel="stylesheet" />
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/thems.css" rel="stylesheet" />
</head>
<body>
    <!--头部-->
    <div class="head clearfix">
        <div class="logo">
            <a href="Newheart.html">
            </a>
        </div>
        <div class="phone clearfix">
            <p>联系电话：<span>6666-66666666</span></p>
        </div>
        <ul class="nav clearfix">
            <li>
                <a href="NewShow">
                    <em>公司首页</em> HOME
                </a>
            </li>
            <li>
                <a href="Newpartner">
                    <em>合作案例</em> CASE
                </a>
            </li>
            <li class="now">
                <a href="Newconsult">
                    <em>咨询车库</em> CONSULT
                </a>
            </li>
            <li>
                <a href="WachCar">
                    <em>免费洗车</em> FREE
                </a>
            </li>
            <li>
                <a href="about">
                    <em>关于我们</em> ABOUT US
                </a>
            </li>
        </ul>
    </div>
    <!--头部-->
    <!--幻灯片-->
    <div id="banner" class="banner">
        <div id="owl-demo" class="owl-carousel" style="width:1850px; height:700px;">
            <a class="item" target="_blank" style="background-image:url('/News2/Img/1560043741184 - 副本.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/ascll码表.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/timg1.jpg');width:100%; height:700px;">
            </a>
        </div>
    </div>
    <!--幻灯片-->
    <div class="bg_b">
        <div class="pst">
            您当前的位置：<a href="NewShow">首页</a> > <a href="Newconsult">新闻中心</a>
        </div>
    </div>
    <div class="scd clearfix">
        @*<div class="scd_l">
            <div class="l_name">
                <img src="images/name_1.png" />
                <i>&nbsp;</i>
            </div>
            <ul class="s_nav">
                <li class="on">
                    <a href="news.html">公司新闻</a>
                </li>
                <li>
                    <a href="newshy.html">行业新闻</a>
                </li>
            </ul>
        </div>*@
        <div class="scd_r" style="width:1100px">
            <div class="r_top"><span>新闻中心</span></div>
            <div class="scd_m">
                <dl class="news clearfix">
                    <dt>
                        <a>
                            <img src="~/News2/Img/2019122011010833202.jpg" />
                        </a>
                    </dt>
                    <dd>

                        <div class="title">
                            <p><a >地方怕乱不怕小 看小厨房布局如何逆袭</a></p>
                            <span>2017-07-02</span>
                        </div>
                        <div class="des">
                            从视觉逆袭：开放式设计　　厨房设计最基本的是三角形空间，也就是水槽、操作台和灶台的位置，最理想的就是一个三角形，但...
                        </div>
                    </dd>
                </dl>
                <dl class="news clearfix">
                    <dt><a ><img src="~/News2/Img/29192054234_big.jpg" /></a></dt>
                    <dd>
                        <div class="title">
                            <p><a>家的两重性视角 解读2016家居流行色</a></p>
                            <span>2017-07-02</span>
                        </div>
                        <div class="des">
                            配色卡：传统红色也有着多变的搭配技巧，红色代表着旺盛的生命力，能为一个家庭带
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="f_bg">
        <div class="line">&nbsp;</div>
        <div class="foot clearfix">
            <div class="f_r">
                版权所有©一组&emsp;一组1234号
            </div>
        </div>
    </div>
</body>
</html>
