
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=1200,user-scalable=yes">
    <title>合作案列</title>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/jquery-1.8.3.min.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/js_z.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/banner.js"></script>
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/reset.css" rel="stylesheet" />
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/thems.css" rel="stylesheet" />
</head>
<body>
    <!--头部-->
    <div class="head clearfix">
        <div class="logo">
            <a href="Newpartner.html">
            </a>
        </div>
        <div class="phone clearfix">
            <p>联系电话：<span>6666-66666666</span></p>
        </div>
        <ul class="nav clearfix">
            <li>
                <a href="NewShow">
                    <em>公司首页</em> HOME
                </a>
            </li>
            <li class="now">
                <a href="Newpartner">
                    <em>合作案例</em> CASE
                </a>
            </li>
            <li>
                <a href="Newconsult">
                    <em>咨询车库</em> CONSULT
                </a>
            </li>
            <li>
                <a href="WachCar">
                    <em>免费洗车</em> FREE
                </a>
            </li>
            <li>
                <a href="about">
                    <em>关于我们</em> ABOUT US
                </a>
            </li>
        </ul>
    </div>
    <!--头部-->
    <!--幻灯片-->
    <div id="banner" class="banner">
        <div id="owl-demo" class="owl-carousel" style="width:1850px; height:700px;">
            <a class="item" target="_blank" style="background-image:url('/News2/Img/1560043741184 - 副本.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/ascll码表.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/timg1.jpg');width:100%; height:700px;">
            </a>
        </div>
    </div>
    <!--幻灯片-->
    <div class="bg_b">
        <div class="pst">
            您当前的位置：<a href="NewShow">首页</a> > <a href="Newpartner">合作案例</a>
        </div>
    </div>
    <div class="scd clearfix">
        @*<div class="scd_l">
            <div class="l_name">
                <img src="images/name_6.png" />
                <i>&nbsp;</i>
            </div>
            <ul class="s_nav">
                <li class="on">
                    <a href="case.html">工装案例</a>
                </li>
                <li>
                    <a href="case2.html">家装案例</a>
                </li>
                <li>
                    <a href="case3.html">其他案例</a>
                </li>
            </ul>
        </div>*@
        <div class="scd_r" style="width:1100px">
            <div class="r_top"><span>合作案例</span></div>
            <div class="scd_m">
                <dl class="news clearfix">
                    <dt><a><img src="~/News2/Img/u=1287395245,3114020194&fm=214&gp=0.jpg" /></a></dt>
                    <dd>
                        <div class="title">
                            <p><a>工厂业务流程介绍</a></p>
                            <span>2017-07-02</span>
                        </div>
                        <div class="des">
                            系统范围界定清晰、功能满足需求；
                            降低系统开发和推广的难度；
                            系统间实现无缝对接，增强信息的获取、交互和甄选；
                            公司战略对接业务需求和执行。
                        </div>
                    </dd>
                </dl>
                <dl class="news clearfix">
                    <dt><a ><img src="~/News2/Img/QJ8166068498.jpg" /></a></dt>

                    <dd>
                        <div class="title">
                            <p><a>景观改造业务流程介绍</a></p>
                            <span>2017-07-02</span>
                        </div>
                        <div class="des"> 景观改造业务流程介绍，一般是客户签好合同，确定设计方案后打款开始作业。装修完验收工作,工厂装修业务流程介绍，一般是客户签好合同，确定设计方案后打款开始作业。装修完验收工作      ...</div>
                    </dd>
                </dl>
            </div>
        </div>


    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="f_bg">
        <div class="line">&nbsp;</div>
        <div class="foot clearfix">
            <div class="f_r">
                版权所有©一组&emsp;一组1234号
            </div>
        </div>
    </div>
</body>
</html>
