@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=1200,user-scalable=yes">
    <title>一组车库首页</title>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/jquery-1.8.3.min.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/js_z.js"></script>
    <script src="~/News2/绿色家居装修公司HTML网站模板/js/banner.js"></script>


    <link href="~/News2/绿色家居装修公司HTML网站模板/css/reset.css" rel="stylesheet" />
    <link href="~/News2/绿色家居装修公司HTML网站模板/css/thems.css" rel="stylesheet" />

</head>

<body>
    <!--头部-->
    <div class="head clearfix">
        <div class="logo">
                <a href="NewShow.html">
                </a>
            </div>
        <div class="phone clearfix">
            <p>联系电话：<span>6666-66666666</span></p>
        </div>
        <ul class="nav clearfix">
            <li class="now">
                <a href="NewShow">
                    <em>公司首页</em>
                </a>
            </li>
            <li>
                <a href="Newpartner">
                    <em>合作案例</em> CASE
                </a>
            </li>
            <li>
                <a href="Newconsult">
                    <em>咨询车库</em> CONSULT
                </a>
            </li>
            <li>
                <a href="WachCar">
                    <em>免费洗车</em> FREE
                </a>
            </li>
            <li>
                <a href="about">
                    <em>关于我们</em> ABOUT US
                </a>
            </li>
        </ul>
    </div>
    <!--头部-->
    <!--幻灯片-->
    <div id="banner" class="banner">
        <div id="owl-demo" class="owl-carousel" style="width:1850px; height:700px;">
            <a class="item" target="_blank" style="background-image:url('/News2/Img/1560043741184 - 副本.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/ascll码表.jpg');width:100%; height:700px;">
            </a>
            <a class="item" target="_blank" style="background-image:url('/News2/Img/timg1.jpg');width:100%; height:700px;">
            </a>

        </div>
    </div>
    <!--幻灯片-->
    <div class="bg_a">
        <div class="t_news">
            <div class="t_news">
                <b>热点：</b>
                <ul class="news_li">
                    <li>
                        <span target="_blank">新型车库!! 无敌智能车库</span>
                    </li>
                    <li>
                        <span target="_blank">车库 免费洗车!! </span>
                    </li>
                    <li>
                        <span target="_blank">高级车库更新了!! </span>
                    </li>
                    <li>
                        <span target="_blank">成绩再创新高!!!! </span>
                    </li>
                </ul>
                <ul class="swap"></ul>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <ul class="i_ma clearfix">
        <li>
            <div class="tu">
                <a href="GaoJi">
                    <img src="~/News2/Img/0025116bbe5b10183ee61a.jpg" />
                </a>
            </div>
            <div class="wen">
                <div class="name">
                    <a href="GaoJi">高级车库</a>
                </div>
                <div class="des">在这里，停车的氛围让每个人都感到舒心，为做出美好的事情而努力。在这里没有高低的等级观念，每个人都可以随时提出自己的需求和想法。</div>
            </div>
        </li>
        <li>
            <div class="tu">
                <a href="ZhongJi">
                    <img src="~/News2/Img/815e32827d438363e0b41aa9f3ceddafe077743938a00-xEXEFh_fw658.jpg" />
                </a>
            </div>
            <div class="wen">
                <div class="name">
                    <a href="ZhongJi">中级车库</a>
                </div>
                <div class="des">豪华的装修不仅让您体验视觉的盛宴，更会为您精心的准备，全力的实施</div>
            </div>
        </li>
        <li>
            <div class="tu">
                <a href="PuTong">
                    <img src="~/News2/Img/-J-o-fyeyqem0354285.jpg" />
                </a>
            </div>
            <div class="wen">
                <div class="name">
                    <a href="PuTong">普通车库</a>
                </div>
                <div class="des">
                    可详细了解咨询车库的样式,适用各大型商场
                </div>
            </div>
        </li>
    </ul>

    <div class="jingdiananli">
        <div class="jcj-tit">经典停车案例/CASE</div>
        <div class="jcj-con">
            <ul class="case">
                <li>
                    <div class="picylbtn">
                        <img src="~/News2/Img/大润发.png" />
                        <div class="hidenbox">
                            <p>大润发地下停车场</p>
                            <a href="DaRunFa">查看详情</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="picylbtn">
                        <img src="~/News2/Img/万达.png" />
                        <div class="hidenbox">
                            <p>万达地下停车场</p>
                            <a href="WanDa">查看详情</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="picylbtn">
                        <img src="~/News2/Img/乱停车.png" />
                        <div class="hidenbox">
                            <p>关于乱停车</p>
                            <a href="Luan">查看详情</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="picylbtn">
                        <img src="~/News2/Img/乱停罚单.png" />
                        <div class="hidenbox">
                            <p>乱停车罚单事例</p>
                            <a href="FaDan">查看详情</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="picylbtn">
                        <img src="~/News2/Img/停车.png" />
                        <div class="hidenbox">
                            <p>停车场装修案例</p>
                            <a href="Zhuang">查看详情</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="f_bg">
        <div class="line">&nbsp;</div>
        <div class="foot clearfix">
            <div class="f_r">
                版权所有©一组&emsp;一组1234号
            </div>
        </div>
    </div>
</body>

</html>
