
@{
    ViewBag.Title = "LicenseAdd";
    Layout = "~/Views/Show/Show.cshtml";
}


@using (Html.BeginForm())
{
    
<table class="layui-table layui-table-body" style="padding-left:450px; background-color:skyblue;width:980px ;">
    <tr>
        <td>车牌归属地</td>
        <td>
            @Html.DropDownList("ID", new SelectList(ViewBag.Date, ViewBag.List), "--车牌归属地--")
        </td>
        <td>
            <input type="text" name="Six" value="" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="保存" class="layui-btn layui-btn-normal layui-btn-radius" />
        </td>
        <td>
            <input type="submit" value="取消" class="layui-btn layui-btn-normal layui-btn-radius" />
        </td>
    </tr>
</table>
}