@model List<ParKingMVC.CarTypesInfoModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Show/Show.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <table class="layui-table layui-table-body">
        <tr>
            <td>

            </td>
        </tr>
    </table>
}
