@model List<ParKingMVC.CarTypesInfoModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Show/Show.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <table class="layui-table layui-table-body" style="padding-left:450px; background-color:skyblue;width:980px ;">
        <tr>
            <td>
                车库类型
            </td>
            <td>
                类型价格
            </td>
            <td>
                操作
            </td>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Tname</td>
                <td>@(m.Tmaney + "/小时")</td>
                <td>
                    <input type="button" name="name" value="驶入" onclick="location.href = '/Park/Add?id='+@m.TID"  class="layui-btn layui-btn-normal layui-btn-radius" />
                </td>
            </tr>
        }
    </table>
}
