@model List<ParKingMVC.CarTypesInfoModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Show/Show.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <table class="layui-table layui-table-body" style="padding-left:450px; background-color:skyblue;width:980px ;">
        <tr>
            <td>
                车库类型
            </td>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Tname</td>
            </tr>
        }
    </table>
}
