
@{
    ViewBag.Title = "Index";
}
<style>

    .Im {
        margin-left: 145px;
        margin-top: 50px;
    }

    .Ti {
        margin-left: 120px;
    }

    .btn-default {
        margin-left: 65px;
        background-color: forestgreen;
        width: 230px;
        color: white;
    }
    .B {
        margin-top:50px;
    }
</style>



<div class="Im">
    <img src="~/Img/08a188c78e460b5d3053e8c71768053f.png" />
</div>
<h3 class="Ti">停车小程序</h3>
<div style="margin-left:25px">
    <div>
        产品功能：
    </div>
    <ul>
        <li>App预定车位</li>
        <li>摇一摇定位当前位置</li>
        <li>查找地图指定位置</li>
    </ul>
    <div>
        关于我们
    </div>
    <ul>
        专注的人才，专注的管理，专注的技术，销售高品质的产品，是我们不息的追求，品质与服务是我们永远的承诺。
        我们以“诚信为本，客户至上，质量至上，真诚合作”的经营方针，热诚欢迎各界人士来人来电咨询洽谈业务！
    </ul>
</div>
<div class="B">
    <input type="button" name="name" value="开通服务" onclick="location.href='/Enterong/Index'" class="btn btn-default" />
</div>