
@{
    ViewBag.Title = "Index";
}
<style>
    
    .Im {
        margin-left:145px;
        margin-top:50px;
    }
    .Ti {
        margin-left: 120px;
    }
    .btn-default {
        margin-left:65px;
        background-color: forestgreen;
        width: 230px;
        color: white;
    }
</style>


    
<div class="Im">
    <img src="~/Img/08a188c78e460b5d3053e8c71768053f.png" />
</div>
<h3 class="Ti">停车小程序</h3>

<div style="margin-left:25px">
    <div>
        451651651
    </div>
    <ul>
        <li>563</li>
        <li>563</li>
        <li>563</li>
    </ul>
    <div>
        454124214
    </div>
</div>
<div>
    <input  type="button" name="name" value="开通服务" onclick="location.href='/Enterong/Index'"  class="btn btn-default"/>
</div>