
@{
    Layout = null;
}
<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
    <h3>预约详情</h3>
    <br>
     预约车牌  
    <span>@ViewBag.Key</span>
    <br><br>
     可停至 
    <span>@ViewBag.Time</span>
    <br><br>
     预付款 
    <span>￥@ViewBag.Maney</span>
    <br><br>
    预约成功后显示车位编号。预约付款可抵扣停车费用,离场时多退少补，预约成功后开始计费，请在2个小时内入场。
</div>