
@{
    ViewBag.Title = "Show";
}

<style>
    .X {
        margin-left:15px;
    }
    .Z {
        margin-left:50px;
        margin-top:50px;
    }
    .Y {
        margin-left: 50px;
        margin-top: 50px;
    }
</style>

<div class="X">
    <img src="~/Img/xiao.png" />
</div>

<div class="Z" onclick="location.href='/Show/Index'">
    <img src="~/Img/zhis.png"/>
</div>
<div class="Y">
    <img src="~/Img/yu.png" />
</div>