
@{
    ViewBag.Title = "QRcode";
    Layout = "~/Views/Show/Show.cshtml";
}

<h2>QRcode</h2>

<script src="~/Content/jquery-3.3.1.min.js"></script>
<script src="~/Content/bootstrap.min.js"></script>

<table class="layui-table layui-table-body" style="padding-left:450px; background-color:lightblue;width:980px ;">
    <tr>
        <td><span>请扫描二维码支付</span></td>
        <td style="width:200px;height:200px" ><img src="@ViewBag.Img" alt="" /></td>
    </tr>
</table>